* {
    box-sizing: border-box  // universal selector for sizing inpiut boxes
}

html {
    font-size: 62.5%
}


body {
    color: $dark-grey;
    font-family: Helvetica, Arial, sans-serif;
    font-size: $mSize;
    line-height: 1.6;

}

button {
    cursor: pointer;
}

button:disbaled {
    cursor: default;
}

.is-active {
    font-weight: bold
}